[Unit]
Description=A fan manager daemon for MacBook Pro
After=syslog.target
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/sbin/mbpfan -f
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/run/mbpfan.pid
Restart=always
RestartSec=1

[Install]
WantedBy=sysinit.target
